# Backend API
VITE_API_URL=http://localhost:5000/api

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_ANON_KEY=

# Blockchain
VITE_CHAIN_ID=80002
VITE_ALCHEMY_RPC_URL=

# Smart Contract (after deployment)
VITE_CONTRACT_ADDRESS=
