@import "tailwindcss";

:root {
  --primary: #0f4c81;
  --secondary: #0e7490;
  --accent: #22a06b;

  --background: #f8fbfc;
  --card: #ffffff;
  --border: #e2e8f0;

  --sidebar: #0f172a;

  --text-primary: #0f172a;
  --text-secondary: #64748b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.logo-font {
  font-family: "Sora", sans-serif;
}

.number-font {
  font-family: "IBM Plex Sans", sans-serif;
}

.id-font {
  font-family: "JetBrains Mono", monospace;
}

::selection {
  background: #22a06b;
  color: white;
}